# =========================
# 编辑器 & 系统文件
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# 构建产物目录
# =========================
build/
target/
bin/
dist/

# =========================
# 编译生成的中间文件 / 库
# =========================
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.lib
*.out
*.exe

# =========================
# 调试符号 / 临时文件
# =========================
*.dSYM/
*.pdb
*.idb
*.tmp
